<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="linhas">
      <ion-icon name="bus"></ion-icon>
      <ion-label>Linhas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="itinerarios">
      <ion-icon name="map"></ion-icon>
      <ion-label>Itinerários</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="horarios">
      <ion-icon name="alarm"></ion-icon>
      <ion-label>Horários</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
