ion-content {
    font-size: 14px;
}

ion-grid {
    margin: 20px 0;
}

ion-input, ion-select {
    border: 1px solid #000;
    border-radius: 5px;
}

ion-checkbox {
    margin-right: 5px;
}

.header--row {
    margin-top: 20px;
}

.body--row:hover {
    background-color: #f0ffff;
}

.label, .header--col {
    font-weight: bold;
}

.label--col {
    display: flex;
    align-items: center;
}

.observacao {
    font-size: 12px;
}

.checkbox, .header--col, .form--col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.has-error {
    border: 1px solid var(--ion-color-danger) !important;
}