<app-modal-header
  texto="Novo Horário"
  (dismiss)="dismiss()"
></app-modal-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col class="ion-text-right observacao">
        * campos obrigatórios
      </ion-col>
    </ion-row>

   <form [formGroup]="formCadastro">
    <ion-row>
      <ion-col size="12">
        <ion-label class="label">Linha *</ion-label>
      </ion-col>
      <ion-col size="9">
        <ion-select
          formControlName="linhaSelecionada"
          placeholder="Selecionar Linha..."
          interface="popover"
          [class.has-error]="(linhaSelecionada.touched || linhaSelecionada.dirty) && linhaSelecionada.invalid"
        >
          <ion-select-option *ngFor="let linha of linhas" [value]="linha.id">
            {{ linha.numero }}-{{ linha.nome }}
          </ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="3" class="checkbox">
        <ion-checkbox (ionChange)="changeCheckbox($event)" [disabled]="disabled"></ion-checkbox>
        <ion-label>Ord. p/ Núm.</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="header--row">
      <ion-col size="3"></ion-col>
      <ion-col size="2" class="header--col">Início</ion-col>
      <ion-col size="2" class="header--col">Fim</ion-col>
      <ion-col size="2" class="header--col">Intervalo<br>(minutos)</ion-col>
    </ion-row>
    <ion-row class="body--row">
      <ion-col size="3" class="label--col">
        <ion-label class="label">Dias úteis *:</ion-label>
      </ion-col>
      <ion-col size="2.2" class="form--col">
        <ion-input
          formControlName="uteisInicio"
          type="time"
          [readonly]="disabled"
          [class.has-error]="(uteisInicio.touched || uteisInicio.dirty) && uteisInicio.invalid"
        ></ion-input>
      </ion-col>
      <ion-col size="2.2" class="form--col">
        <ion-input
          formControlName="uteisFim"
          type="time"
          [readonly]="disabled"
          [class.has-error]="(uteisFim.touched || uteisFim.dirty) && uteisFim.invalid"
        ></ion-input>
      </ion-col>
      <ion-col size="2" class="form--col">
        <ion-input
          formControlName="uteisIntervalo"
          type="number"
          [readonly]="disabled"
          [class.has-error]="(uteisIntervalo.touched || uteisIntervalo.dirty) && uteisIntervalo.invalid"
        ></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="body--row">
      <ion-col size="3" class="label--col">
        <ion-label class="label">Sábados *:</ion-label>
      </ion-col>
      <ion-col size="2.2" class="form--col">
        <ion-input
          formControlName="sabadosInicio"
          type="time"
          [readonly]="disabled"
          [class.has-error]="(sabadosInicio.touched || sabadosInicio.dirty) && sabadosInicio.invalid"
        ></ion-input>
      </ion-col>
      <ion-col size="2.2" class="form--col">
        <ion-input
          formControlName="sabadosFim"
          type="time"
          [readonly]="disabled"
          [class.has-error]="(sabadosFim.touched || sabadosFim.dirty) && sabadosFim.invalid"
        ></ion-input>
      </ion-col>
      <ion-col size="2" class="form--col">
        <ion-input
          formControlName="sabadosIntervalo"
          type="number"
          [readonly]="disabled"
          [class.has-error]="(sabadosIntervalo.touched || sabadosIntervalo.dirty) && sabadosIntervalo.invalid"
        ></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="body--row">
      <ion-col size="3" class="label--col">
        <ion-label class="label">Domingos e<br>Feriados *:</ion-label>
      </ion-col>
      <ion-col size="2.2" class="form--col">
        <ion-input
          formControlName="domingosInicio"
          type="time"
          [readonly]="disabled"
          [class.has-error]="(domingosInicio.touched || domingosInicio.dirty) && domingosInicio.invalid"
        ></ion-input>
      </ion-col>
      <ion-col size="2.2" class="form--col">
        <ion-input
          formControlName="domingosFim"
          type="time"
          [readonly]="disabled"
          [class.has-error]="(domingosFim.touched || domingosFim.dirty) && domingosFim.invalid"
        ></ion-input>
      </ion-col>
      <ion-col size="2" class="form--col">
        <ion-input
          formControlName="domingosIntervalo"
          type="number"
          [readonly]="disabled"
          [class.has-error]="(domingosIntervalo.touched || domingosIntervalo.dirty) && domingosIntervalo.invalid"
        ></ion-input>
      </ion-col>
    </ion-row>
   </form>
  </ion-grid>
</ion-content>

<app-modal-footer
  textButton="Salvar"
  (executarAcao)="salvarHorario()"
  [disabled]="!validaFormulario()"
  textSecondButton="Editar"
  (executarSegundaAcao)="editarHorario()"
  [showSecondButton]="showSecondButton"
></app-modal-footer>