<ion-grid>
  <ion-row>
    <ion-label>
      Selecione uma opção abaixo. Caso não digite nada na caixa de texto, aparecerão todas as linhas de ônibus e seus respectivos itinerários.
    </ion-label>
  </ion-row>

  <form [formGroup]="formPesquisa">
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-radio-group (ionChange)="selecionouPesquisa($event)">
            <ion-list-header class="ion-no-margin ion-no-padding">
              <ion-label>Pesquisa por:</ion-label>
            </ion-list-header>

            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col
                size-lg="1.5"
                size-xs="12"
                class="ion-no-padding ion-no-margin"
                *ngFor="let item of searchItemList"
              >
                <ion-item lines="none" class="ion-no-padding ion-no-margin">
                  <ion-label class="pesquisa--label">{{ item.descricao }}</ion-label>
                  <ion-radio
                    slot="start"
                    [value]="item"
                    class="ion-no-margin pesquisa--radio-button"
                  ></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col
        size-lg="5"
        size-xs="12"
      >
        <ion-input
          type="text"
          formControlName="textoPesquisa"
          placeholder="Texto da pesquisa"
        ></ion-input>
      </ion-col>
    </ion-row>
  </form>

  <ion-row>
    <ion-col>
      <ion-button
        (click)="pesquisar()"
      >Buscar</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>