<ion-header class="ajustar-pagina">
  <ion-toolbar>
    <ion-title>Itinerarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ajustar-pagina">
  <ion-row>
    <ion-col>
      <ion-button
        fill="solid"
        (click)="chamarModalNovoItinerario()"
      >
      Novo
      </ion-button>
    </ion-col>
  </ion-row>

  <section>
    <app-pesquisa-itinerario (dadosBusca)="buscar($event)"></app-pesquisa-itinerario>
  </section>

  <section>
    <app-tabela [resultadoBusca]="resultadoBusca"></app-tabela>
  </section>

</ion-content>
