<ion-header>
  <ion-toolbar>
    <ion-title>Itinerários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button
          fill="solid"
          (click)="chamarModalNovoItinerario()"
        >
        Novo Itinerário
        </ion-button>
      </ion-col>
    </ion-row>
  
    <section>
      <app-pesquisa-itinerario (dadosBusca)="buscar($event)"></app-pesquisa-itinerario>
    </section>
  
    <section *ngIf="isMostrarResultado">
      <app-tabela [itinerarios]="itinerarios" (deletarItinerario)="deletarItinerario($event)"></app-tabela>
    </section>
  </ion-grid>
</ion-content>
